
# Python
__pycache__/
*.pyc
.venv/
.env

# Build artifacts
build/
out/
dist/
*.exe
*.o
*.obj

# Java / External Libs
jdk-*/
lib/
*.jar
*.class

# Temporary debugging scripts
debug_*.py
inspect_*.py
deep_debug.py
dump_output.txt

# Local Data
*.mdb
*.json

# VS / VS Code
.vscode/
.vs/
*.user

# Temporary Directories
tmp/
